/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/
/.history
/vendor
/bower_components

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/fonts/font-awesome
/storage/app/public/images
