.page-about{
    h2{
        color: $blackgrey;
        font-family: 'mitr';
        font-size: 3.3rem;
        font-weight: 400;
    }
    p{
        font-family:'PSL Text Pro'; 
        font-weight:400;
        font-size: 2.1rem;
        line-height: 2.6rem;
    }
    
    .history{
    .data-block{
            h2{
                font-family:'PSL Text Pro'; 
                font-weight: 700;
                font-size: 2.2rem;
                line-height: 2.5rem;
            }
            p{
                font-family:'PSL Text Pro'; 
                font-weight:400;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
    }
    }
    .mission{
      background-color: #eef2f3;
      @include media-breakpoint-up(sm) {
        h2 {
            margin-top: 0!important;
        }
        .text-center {
            font-size: 1.3rem;
            line-height: 1.5rem;
            margin-bottom: 0;
        }
      }
      @include media-breakpoint-up(md) {
          h2 {
              margin-top: 5%!important;
          }
          .text-center {
              font-size: 1.7rem;
              line-height: 1.8rem;
          }
      }
      @include media-breakpoint-up(lg) {
            h2 {
                font-size: 3.3rem;
            }
            .text-center {
                font-size: 2.1rem;
                line-height: 2.6rem;
            }
      }
    }
    .main_mission{
        background-color: #f36f21;
        h2{color: #fff;}
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            color:#fff;
        }
        .dash {
            margin: 40px 0 45px;
            width: 7%;
            border-bottom: solid 7px #fff;
        }
        ul{
            padding-inline-start: 20px;
            font-size: 1.3rem;
            color: $orange;
            li{
                p{
                    color:#616161;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                }
            }
        }
    }
    .belive{
        .dash{
            margin: 40px 0 45px;
            width: 7%;
        }
        p{
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
    .member{
        p{
            padding:0;
            margin: 0;
            font-size: 1.7rem;
            line-height: 1.9rem;
        }
        img{
            padding: 0.4rem;
            background-color: #f8fafc;
            border: 1px solid #f3f5f6;
            box-shadow: 2px 4px 7px #9b999947;
        }
        
    }
}