
%space{margin-top:150px;}
%space-inner{padding-top:70px;padding-bottom:70px;}
%txt-header{
    color: $blackgrey;
    font-family: 'mitr';
    font-size: 3.5rem;
    font-weight: 400;
}
.banner-block{
    .caption{margin-bottom: 4%;}
    h1{
        color:$white;
        font-family: 'mitr';
        font-weight: 500;
        font-size: 3.8rem;
    }
    p{
        color:$white;
        font-family: 'mitr';
        font-weight: 100;
        font-size: 1.5rem;
    }
}
.main-intro{ 
    @extend %space; 
    a{
        text-decoration: none; cursor: pointer; color: $blackgrey;
        h2{
            color: $blackgrey;
            font-family: 'mitr';
            font-weight: 400;
            font-size: 2rem;
        }
        p{
            color: $blackgrey; 
            @extend %psl-mainset;
        }
    }
}
.relate-news{
    @extend %space;
    @extend %space-inner;
    background-color: $lightgrey;
    h1{
        @extend %txt-header;
    }
    p{
        color:#616161;
        &.intro{
            @extend %psl-mainset;
        }
    }
    article{
        position: absolute;
        bottom: 0;
        width: 65%;
        p{
            padding: 0;
            margin: 0;
            color:$white;
        }
        div{
            display: block;
            border-bottom: solid 2px $orange;
            width:20%;
        }
    }
}
.relate_knowledge{
    @extend %space-inner;
    h1{
        @extend %txt-header;
    }
    a.btn{
        font-family: 'mitr';
        font-weight: 200;
        font-size: 1.2rem;
        width: 100%;
    }
}