
%space{margin-top:150px;}
%space-inner{padding-top:70px;padding-bottom:70px;}
%txt-header{
    color: $blackgrey;
    font-family: 'mitr';
    font-size: 3.5rem;
    font-weight: 400;
    @include media-breakpoint-down(sm){
      font-size: 2.4rem;
    }
}
.banner-block{
    .caption{margin-bottom: 4%;}
    h2{
        color:$white;
        font-family: 'mitr';
        font-weight: 500;
        font-size: 3.8rem;
    }
    p{
        color:$white;
        font-family: 'mitr';
        font-weight: 100;
        font-size: 1.5rem;
    }
}
.main-intro{
    @extend %space;
    padding-bottom:150px;
    a{
        text-decoration: none; cursor: pointer; color: $blackgrey;
        h2{
            color: $blackgrey;
            font-family: 'mitr';
            font-weight: 400;
            font-size: 2rem;
        }
        p{
            color: $blackgrey;
            @extend %psl-mainset;
        }
    }
}
.relate-news{
    @extend %space-inner;
    background-color: $lightgrey;
    h2{
        @extend %txt-header;
    }
    p{
        color:#616161;
        &.intro{
            @extend %psl-mainset;
        }
    }
    a.btn {
        font-family: "mitr";
        font-weight: 200;
        font-size: 1.2rem;
        width: 100%;
    }
}
.relate_knowledge{
    @extend %space-inner;
    h2{
        @extend %txt-header;
    }
    a.btn{
        font-family: 'mitr';
        font-weight: 200;
        font-size: 1.2rem;
        width: 100%;
    }
}
