body{
    background:$white;
    font-size: 10px;
}

nav{
    h3{font-family: 'prompt'; font-weight: 200;color:$blackgrey !important;font-size: 1rem;&.title_th{font-weight: 600}}
    ul{
        top: calc(50% - 1.3rem);
        li{
            a{
                font-family: 'prompt';
                font-weight: 600;
                color:$blackgrey !important;
                font-size: 1.3rem;
                &:hover{text-decoration: none; border-bottom: solid 5px $orange; }
            }
        }
    }
}
main{
    background:$white;
}
footer{
    background:#231f20;
    border-top:solid 4px $orange;
    padding-top:70px;
    h2{
        color:$white;
        font-family: 'prompt';
        font-weight: 600;
        font-size: 1.3rem;
    }
    a{
        color:$mediumgrey;
        font-family: 'prompt';
        font-weight: 200;
        font-size: 1rem;
        text-decoration: none !important;
        &:hover{color:$mediumgrey;}
    }
    ul{color:$mediumgrey;}
    .dash{
        margin: 20px 0 25px;
        width: 20px;
        border-bottom: solid 4px $orange;
    }
    .address{
        a{
            width:100%;
            display: block;
            text-decoration: none;
            &.email{
                font-family: 'prompt';
                font-weight: 200;
                color: $orange;
                font-size: 1.1rem;
                text-decoration: none;
                cursor: pointer;
                &:hover{color: $orange;}
            }
        }
        h3{color:$mediumgrey;font-family: 'prompt';font-weight: 500; font-size: 1.1rem;}
        p{
            color:$mediumgrey;font-family: 'prompt';font-weight: 200; font-size: 1rem;
            &.tel{font-weight: 500;font-size: 1.8rem;line-height: 1.5rem;padding: 0;margin: 0;margin-top: 30px;}
        }
        .link-face{
            margin-top: 20px;
            font-family: 'prompt';
            font-weight: 500;
            font-size: 1.3rem;
            color:#bdbdbd;
            cursor: pointer;
            &:hover{color:#bdbdbd;}
        }

    }
    .copy-right {
        margin-top: 30px;
        p{color:#616161;font-size: 1.2rem;font-family: 'PSL Text Pro';}
    }
}
.text-indend{text-indent: -99999px;height: 0px;}
.slick-slide{
    height:auto !important;
}
.slick-dots{
    bottom: -44px;
    li{
        margin: 0 23px !important;
        button:before {
            background:#e1e1e1 !important;
            padding: 0  !important;
            height: 4px  !important;
            width: 60px  !important;
            margin-right: 20px  !important;
            content: inherit  !important;
            color:$white;
        }
    }
}
.slick-dots li.slick-active button:before {
    background: $orange !important;
    color: $white;
    opacity: 0.75;
}

.others-banner{
    h2{
        top:44%;
        width:100% !important;
        font-family: 'mitr' !important;
        font-size: 4.5rem;
        font-weight: 400 !important;
        color:$white !important;
        text-align: center;
    }
}
.activity-block{
    p{
        color:#616161;
        &.intro{
            @extend %psl-mainset;
        }
    }
    article{
        position: absolute;
        bottom: -12px;
        width: 85%;
        p{
            padding: 0;
            margin: 0;
            color:$white;
            font-family: 'mitr';
            font-weight: 200;
            font-size: 0.9rem;
            line-height: 1.7rem;
            &.des{
                font-size: 1rem;
                font-weight: 500;
            }
        }
        div{
            display: block;
            border-bottom: solid 2px $orange;
            width:20%;
        }
        img{
            max-width: 23%;
            float: right;
            position: absolute;
            right: -1%;
            border-radius: 5px;
            bottom: 32%;
        }
    }
}
.dark-overlay{
  position: relative;
  z-index: -1;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
