.page-news{
    padding-bottom:155px;
    .activity-block {
        a{text-decoration: none;}
        article {
            p {
                font-size: 1.3rem;
                &.des{
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
    .block-tab{
        margin:100px auto 80px auto;
        a{
            font-size: 2.3rem;
            font-family: 'mitr';
            font-weight: 200;
            color:#999;
            cursor: pointer;
            text-decoration: none;
            &.active{
                font-weight: 500;
                color:$blackgrey;
                border-bottom:solid 5px $orange;
            }
        }
    }
    .block-news{
        a{text-decoration: none;}
        .title{
            font-family: 'mitr';
            font-weight: 400;
            color:$blackgrey;
            font-size: 2rem;
            font-size: 1.37rem;
            line-height: 1.4rem;
        }
        .description{
            color:#616161;
            font-family:'PSL Text Pro';
            font-weight:400;
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
    }
    .categories{
        a{
            cursor: pointer;
            &.active{
                img{ border: 3px solid #f36f21 !important;}
            }
            img{
                border:solid thin #d7d7d7;
            }
        }
    }
    a.btn-viewmore{
        border:solid thin $orange;
        color:$orange !important;
        font-size: 1.3rem;
        font-family: 'mitr';
        font-weight: 400;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    //news-detail
    &.news-detail{
        .breadcrumb{
            background:none;
            .breadcrumb-item{
                color:#999;
                font-family: 'mitr';
                font-weight: 200;
                font-size: 1rem;
                line-height: 1.2rem;
                a{
                    color:#999;
                    font-family: 'mitr';
                    font-weight: 200;
                    font-size: 1rem;
                    line-height: 1.2rem;
                }
            }
            .breadcrumb-item + .breadcrumb-item::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: #999;
                content: ">";
                font-family: "mitr";
                font-size: 0.8rem;
            }
        }
        .header{
            h2{
                font-family: 'mitr';
                font-weight: 500;
                font-size: 2.7rem;
                line-height: 3rem;
                color: #010101;
            }
            p{
                color:#999;
                font-size: 1.2rem;
                line-height: 1.4rem;
                font-family: 'mitr';
                font-weight: 200;
            }

        }
        .content-detail{
            p{
                @extend %psl-mainset;
                margin:0;
                span{
                    @extend %psl-mainset;
                    margin:0;
                }
                img, .img-responsive{
                    width: 100% !important;
                    margin: 0 auto;
                }
            }
        }
        .relate-news{
            background:#f1f1f1;
            h2{
                color: $blackgrey;
                font-family: 'mitr';
                font-weight: 400;
                font-size: 2rem;
            }
        }
    }
}
.news-slide{
  .mb-xs-3{
    @include media-breakpoint-down(xs){
      margin-top: 2.5rem;
    }
  }
}
